* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #282828;
  color: white;
}
header {
  background-color: #0c0032;
  padding: 20px;
  text-align: center;
}
header .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.container {
  display: flex;
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
}
.main-content {
  display: flex;
  flex: 1;
}
.main-content .left-column {
  flex: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.main-content .left-column .photo-text,
.main-content .left-column .photo-text-row {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}
.main-content .left-column .photo-text .photo,
.main-content .left-column .photo-text-row .photo {
  flex: 1;
  background-color: #240090;
  padding: 0;
  text-align: center;
}
.main-content .left-column .photo-text .photo img,
.main-content .left-column .photo-text-row .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .left-column .photo-text .photo-group,
.main-content .left-column .photo-text-row .photo-group {
  display: flex;
  flex: 1;
}
.main-content .left-column .photo-text .text,
.main-content .left-column .photo-text-row .text {
  flex: 1;
  padding: 20px;
  background-color: #190061;
}
.main-content .right-column {
  flex: 30%;
  padding: 20px;
  background-color: #3500d3;
}
h2 {
  color: #ffffff;
  margin-bottom: 10px;
}
p {
  color: #d3d3d3;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .main-content .photo-text,
  .main-content .photo-text-row {
    flex-direction: column;
  }
  .main-content .photo {
    width: 100%;
  }
  .main-content .text {
    width: 100%;
  }
  .main-content .right-column {
    flex: 100%;
    margin-top: 20px;
  }
}
