body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0b0c10;
  color: #c5c6c7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body header {
  text-align: center;
}
body header .logo {
  font-size: 72px;
  font-weight: bold;
  color: #66fcf1;
  margin: 100px 0 20px;
}
body main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
body main .content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
body main .content .block {
  background-color: #45a29e;
  border-radius: 8px;
  padding: 20px;
  width: 45%;
  display: flex;
}
body main .content .block .image {
  max-width: 40%;
  height: auto;
  border-radius: 8px;
}
body main .content .block .text-block {
  margin-left: 20px;
}
body main .subscribe {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
body main .subscribe .email-input {
  padding: 10px;
  width: 50%;
  border: none;
  border-radius: 4px;
  background-color: #1f2833;
  color: #c5c6c7;
}
body main .subscribe .subscribe-button {
  padding: 10px;
  background-color: #66fcf1;
  border: none;
  border-radius: 4px;
  color: #0b0c10;
  cursor: pointer;
  margin-left: 5px;
}
body main .subscribe .subscribe-button:hover {
  background-color: #45a29e;
}
body footer {
  background-color: #1f2833;
  text-align: center;
  padding: 10px;
}
body footer .footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  max-width: 33%;
  margin: 0 auto;
}
body footer .footer-links a {
  color: #66fcf1;
  text-decoration: none;
  padding: 5px;
  transition: transform 0.3s;
}
body footer .footer-links a:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  body .content {
    flex-direction: column;
    align-items: center;
  }
  body .content .block {
    width: 80%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .content .block .image {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  body .content .block .text-block {
    margin-left: 0;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #45a29e;
    border-radius: 8px;
  }
  body .content .email-input {
    width: 80%;
  }
  body .footer-links {
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
  }
}
